---
import Layout from '../../layouts/Layout.astro'
import Container from '../../components/Container.astro'
const Posts = await Astro.glob('../blog/*.{md,mdx}')
const tags = [...new Set(Posts.map(post => post.frontmatter.tags).flat())]
---

<Layout title="Nicolás Deyros - Tag Index">
	<main class="mt-20 h-full">
		<Container>
			<section>
				<div class="tags">
					{
						tags.map(tag => (
							<p class="tag">
								<a href={`/tags/${tag}`}>{tag}</a>
							</p>
						))
					}
				</div>
			</section>
		</Container>
	</main>
</Layout>
