---
export interface Props {
	title: string
	body: string
	href: string
}

const { href, title, body } = Astro.props
---

<li class="link-card list-none flex p-1 bg-white rounded-lg shadow">
	<a
		class="w-full no-underline leading-normal py-4 px-5 rounded-md text-gray-900 bg-white opacity-80"
		href={href}>
		<h2 class="m-0 text-xl transition-colors delay-150">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="mt-2 mb-0 text-gray-700">
			{body}
		</p>
	</a>
</li>
