---
import Link from './Link/Link.astro'

const today = new Date()
---

<footer
	class="w-full mt-auto py-3 bg-slate-200 flex justify-center items-center text-slate-500 gap-5">
	<span>&copy; {today.getFullYear()} All rights reserved.</span>
	<span>
		<Link
			href={`https://astro.build`}
			rel={`nofollow prefetch`}
			title={`Site build with 🚀Astro`}
			text={`Astro`}
			icon={`ic:baseline-rocket-launch`}
			className="flex justify-center items-center"
		/>
	</span>
</footer>
