---
import { Icon } from 'astro-icon'
import Menu from './Menu.astro'
---

<header class="flex justify-center items-center gap-3 mt-5 md:mt-7">
	<h2
		class="flex justify-center items-center font-extrabold text-2xl text-pink-600">
		<Icon name="tabler:lego" class="h-8" />Nicol&aacute;s Deyros
	</h2>
	<nav class="flex justify-center items-center">
		<div>
			<ul class="hidden md:flex gap-3">
				<Menu href="/" icon="jam:home-f" link="Home" title="Home" />
				<Menu href="/blog" icon="jam:blogger" link="Blog" title="Blog" />
				<Menu href="/" icon="jam:coffee" link="About" title="About me" />
				<Menu
					href="/"
					icon="jam:github"
					link=""
					target="_blank"
					title="Github"
				/>
				<Menu
					href="/"
					icon="jam:linkedin"
					link=""
					target="_blank"
					title="Linkedin"
				/>
			</ul>
		</div>
	</nav>
</header>
