---
import { Image } from '@astrojs/image/components'
---

<div class="flex flex-col items-center justify-center w-[300px] md:w-full">
	<Image
		src={import('../assets/me.jpg')}
		width={367}
		height={412}
		alt="Nicolas Deyros avatar"
		format="webp"
		fit={'fill'}
	/>

	<h1
		class="text-3xl md:text-5xl lg:text-7xl text-center font-black text-slate-900 leading-none">
		Job Description: <br />
		<small class="text-lg md:text-xl lg:text-2xl text-slate-500 leading-none">
			Project Manager, Programmer and Advertiser <br />
			<span class="text-base md:text-lg lg:text-xl text-slate-300">
				a.k.a Problem Solver
			</span>
		</small>
	</h1>
</div>
