---
import Hero from './Hero.astro'
import Social from './Social/Social.astro'
---

<main class="mt-20 h-full">
	<section class="h-full flex flex-col items-center justify-center">
		<Hero />
		<Social />
	</section>
</main>
