---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname.replace(/\/$/, '')
---

<a
	href={href}
	class:list={[
		'flex justify-center items-center font-semibold  hover:text-slate-300/50 gap-1',
		{ 'text-slate-300/50 lg:underline lg:underline-offset-2': isActive },
		{ 'text-slate-300/100': !isActive },
	]}
	{...props}>
	<slot />
</a>
